@import '_reset.scss';
.site {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: 1 / 13;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter {
    ul {
        position: absolute;
        visibility: hidden;
    }
    &:hover ul {
        visibility: visible;
    }
}